
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Forek Inventory System</h1>
    <p class="lead">Forek Institute of Technology</p>
    <p><a href="https://forekinstitute.co.za/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Electrical</h2>
        <p>
            The Storage of electrical equipment/apparatus or devices like
            Transistors, Capacitors and Motors etc
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Welding</h2>
        <p>
            The Storage of Welding equipment/apparatuslike
            Welding-Machine, Welding-Rots                                                                                                                                  etc
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Plumbing</h2>
        <p>
            The Storage of Plumbing equipment/apparatus like
            Pliers, Wrenches, Sink plunger,Toilet plunger etc
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        <h2>Mechanical</h2>
        <p>
            The Storage of Mechanical equipment/apparatus or devices like
            Radiator, Alternator and Front Axle etc
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Trade Test</h2>
        <p>
            The Storage of Trade Test Components/apparatus like
            that are normally stored therein.                                                                                                                                  etc
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kitchen & Office Material</h2>
        <p>
            The Storage of Kitchen & Office Material/apparatus like
            Stationary as well as the relevant cleaning material
        </p>
        <p><a class="btn btn-default" href="~/Test/Index">Learn more &raquo;</a></p>
    </div>
</div>


